@media (min-width: 768px) {
  nav {
    display: block !important;
  }

  #menu-button {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
    background-color: #eee;
  }

  nav li {
    padding: 1rem;
    border: none;
  }

  nav li a:hover {
    background-color: #ccc;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  section {
    padding: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
