@media (min-width: 640px) {
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #menu a {
        border: none;
        padding: 15px;
    }
    #menu-btn {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }
    .courses {
        grid-column: 1 / 3;
    }
}
