body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 10px;
}
#menu {
    display: none;
    flex-direction: column;
    background-color: #444;
}
#menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #666;
}
#menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
}
main {
    padding: 10px;
}
section {
    margin-bottom: 20px;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.socials img {
    margin: 0 10px;
}
